@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root[data-theme="light"] {
  --body: white;
  --border: rgba(60, 60, 60, 0.12);
  --info: #929CA7;
  --main: #F1F1F1;
  --primary: theme('colors.emerald.700');
  --primaryhover: theme('colors.emerald.200');
  --secondary: theme('colors.emerald.200');
  --secondaryhover: theme('colors.emerald.300');
  --text: #35495E;
}

:root[data-theme="dark"] {
  --body: #1F2D3C;
  --border: rgba(84, 84, 84, 0.48);
  --info: #999999;
  --main: #35495E;
  --primary: theme('colors.emerald.500');
  --primaryhover: theme('colors.emerald.950');
  --secondary: theme('colors.emerald.200');
  --secondaryhover: theme('colors.emerald.300');
  --text: white;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
